.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 5%;
}

.logo {
    height: 90px;
    width: 90px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.btn a{
  color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    text-decoration: none;
    font-size: 1.25rem;
}

.button-container button {
  margin: 0 10px;
}

.btn {
  background: transparent;
  border: none;
  padding: 1em 1em;
  position: relative;
  transition: .5s ease;
}

.btn::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #ffc506;
  transition: .5s ease;
}

.btn:hover {
  color: #1e1e2b;
  transition-delay: .5s;
}

.btn:hover::before {
  width: 100%;
}

.btn::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #ffc506;
  transition: .4s ease;
  z-index: -1;
}

.btn:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: aliceblue;
}



.video-container{
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    width: 100%;
    margin: 0;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.headline-container{
  display: block;
  padding: 80px 0 45px 0;
}

h2{
  color: #F0A500;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 4.3rem; 
  margin: 0;
  text-align: center;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 5%;
  margin-bottom: 80px;
  }
  

  .grid-header{
    display: flex;
  align-items: center;
  margin: 0;
  }

  header{
    display: inline-block;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 45px;
    padding-left: 5px;
  }

  .grid-item {
    flex: 0 0 48%;
  margin-bottom: 30px;
  }

  .grid-item p {
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 30px;
    margin-top: 7px;
  }
  

  .credits p{
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    margin: 0;
  }

  @media screen and (min-width: 1000px) and (max-width: 2100px) {
    .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 60px 10%;
  }

  .logo {
    height: 130px;
    width: 130px;
  }

  .btn a{
    color: white;
      font-family: 'Inter', sans-serif;
      font-weight: 500;
      text-decoration: none;
      font-size: 1.563rem;
  }

  .btn {
    background: transparent;
    border: none;
    padding: 1em 1.3em;
    position: relative;
    transition: .5s ease;
  }

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 8.50%;
  margin-bottom: 0;
}
    
    h2{
      font-size: 90px;
    }

    header{
      font-size: 40px;
    }

    .grid-container{
      padding: 0 8.50% 50px 8.5%;
    }
    .grid-item p {
      font-size: 25px;
    }

    .credits p{
      font-size: 15px;
    }

  }